/cache/*
/hbupdater/*
*.pyc
todo.py
settings.txt
/downloads/*
/payloads/*
guilog_user.json
user_repos.json
nut/blawar-nut-60bf4e3/bin/hactool.exe
nut/blawar-nut-60bf4e3/bin/hactool_linux
nut/blawar-nut-60bf4e3/bin/hactool_mac
nut/blawar-nut-60bf4e3/cdn/__init__.py
nut/blawar-nut-60bf4e3/cdn/Atum.py
nut/blawar-nut-60bf4e3/cdn/Shogun.py
nut/blawar-nut-60bf4e3/cdn/Superfly.py
titledb/ZA.en.json
titledb/US.es.json
titledb/US.en.json
titledb/titles.json
titledb/SE.en.json
titledb/RU.ru.json
titledb/PT.pt.json
titledb/PL.en.json
titledb/PE.es.json
titledb/PE.en.json
titledb/NZ.en.json
titledb/NO.en.json
titledb/NL.nl.json
titledb/MX.es.json
titledb/MX.en.json
titledb/KR.ko.json
titledb/JP.ja.json
titledb/IT.it.json
titledb/HU.en.json
titledb/HK.zh.json
titledb/GR.en.json
titledb/GB.en.json
titledb/FR.fr.json
titledb/files.json
titledb/FI.en.json
titledb/ES.es.json
titledb/DK.en.json
titledb/DE.de.json
titledb/CZ.en.json
titledb/CO.es.json
titledb/CO.en.json
titledb/CL.es.json
titledb/CL.en.json
titledb/CA.fr.json
titledb/CA.en.json
titledb/blockchain.json
titledb/BE.nl.json
titledb/BE.fr.json
titledb/AU.en.json
titledb/AT.de.json
titledb/AR.es.json
titledb/AR.en.json
nut/*
conf/nut.conf
conf/users.conf
