/cache/*
/hbupdater/*
settings.txt
/downloads/*
/payloads/*
/titledb/*
nut/*
/fluffy/*
user_repos.json
guisettings_user*
conf/nut.conf
conf/users.conf
fluffy.conf
fluffy.log
*.pyc


guisettings_user.json
